.calculator-table{
	border-collapse: separate;
	margin: 0px auto;
	width: 100%;
}
html{
	width: 525px;
	margin: 0px auto;
}


td, th{
	border: 4.2px solid #dddddd;
	text-align: center;
	padding: 18.5px 0px;
	text-align: center;
	font-size: 28px;
	border-radius: 11px;
}

.input_space{
	border-radius: 0 0 20px 20px;
}

td:hover ,th:hover{
	cursor: pointer;
}

.calculator{
	width: 100%;
	margin: 0px auto;
}


.header{
	padding: 5px;
	border: solid 4px #ffab42;
	text-align: center;
	background-color: #BAB6BA;
	border-top-left-radius: 22px;
    border-top-right-radius: 22px;
	margin: 0px auto;
	width: 95%;
}

th{
	background-color: black;
	color:white;
}

body{
	margin: 20px auto;
	font-family: 'Roboto', sans-serif;
	background-color: #392e3c;
}

td{
	background-color: #424142;
	color:white;
}

#equals{
	background-color: #9E550E;
}

input[type="text"]{ 
	background-color:white; 
	border: solid black 2px; 
	width:94%;
	color: black;
	padding: 20px 8px;
	text-align: right;
	font-size: 32px;
}

#footer{
	left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-shadow: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 6px 0;
    opacity: 0.8;
    border-top: 3px solid grey;
	border-radius: 3vmin 3vmin 0 0;
}
#footer a{
	text-decoration: none;
    cursor: pointer;
    color: rgb(21, 56, 255);
}
#footer a img{
	height: .8rem;
}

@media only screen and (max-width: 600px) {
	td, th{
		/* padding: 0px; */
		font-size: 20px;
		line-height: 8px;
	}
	html{
		width: 95%;
	}
	.header{
		width: 92%;
	}
	h1{
		font-size: 1.6em;
	}
	input[type="text"]{
		width: 93%;
		font-size: 28px;
	}
	#footer{
        font-size: 13px;
    }
}
