.calculator-table{
	border-collapse: separate;
	margin: 0px auto;
	width: 100%;
}
html{
	width: 545px;
	margin: 0px auto;
}

@media only screen and (max-width: 600px) {
	td, th{
		padding: 0px;
		font-size: 25px;
	}
	html{
		width: 98%;
	}
	.header{
		width: 92%;
	}
}

td, th{
	border: 4.2px solid #dddddd;
	text-align: center;
	padding: 18.5px 0px;
	text-align: center;
	font-size: 28px;
}

td:hover ,th:hover{
	cursor: pointer;
}

.calculator{
	width: 100%;
	margin: 0px auto;
}


.header{
	padding: 5px;
	border: solid 4px #ffab42;
	text-align: center;
	background-color: #BAB6BA;
	border-top-left-radius: 22px;
    border-top-right-radius: 22px;
	margin: 0px auto;
	width: 96%;
}

th{
	background-color: black;
	color:white;
}

body{
	margin: 20px auto;
	font-family: 'Roboto', sans-serif;
	background-color: #392e3c;
}

td{
	background-color: #424142;
	color:white;
}

#equals{
	background-color: #9E550E;
}

input[type="text"]{ 
	background-color:white; 
	border: solid black 2px; 
	width:94%;
	color: black;
	padding: 20px 8px;
	text-align: right;
	font-size: 32px;
}